.user-post {
	width: 230px;
	border: 2px solid #6e6c78;
	border-radius: 8px;
	margin: 1em;
	text-align: center;
}

.title-text {
	font-size: 22px;
	font-weight: bold;
}

.body-text {
	font-size: 18px;
}

.author-text {
	border: 2px solid #6e6c78;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	background-color: darkgray;
}

p {
	font-size: 19px;
}

span {
	color: #766396;
	font-size: 21px;
}
